<header class="header">
    <a href="" class="header__logo"></a>
    <nav><button class="menu__button">
            Menu
            <span class="menu__hamburguer"></span>
        </button>
        <ul class="menu__list">
            <li><a href="#" data-link="home">Home</a></li>
            <li><a href="#" data-link="about">About</a></li>
            <li><a href="#" data-link="product">Products</a></li>
            <li><a href="#" data-link="portifolio">Portifolio</a></li>
            <li><a href="#" data-link="contact">Contact</a></li>
        </ul>
    </nav>
</header>